body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

form {
    width: 300px;
    padding-top: 10px;
    background: #ffffff;
    padding-left: 55px;
    padding-right: 85px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
form h2 {
    font-weight: 350;
    padding-top: 0;
    margin-bottom: 30px;
    color: #333;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    background: #f2f2f2;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    background: #007BFF;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #0056b3;
    transition: background 1.0s ease;
}
p{
    
    text-align: end;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 10px;
    display: inline-block;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.bottom-text {
    position: absolute;
    bottom: 0;
}