h2.nithum{
    color : blue;
    font-size : 40px;
    font-family : Arial;
    
}
h2{
    size: 1px;
    color: blue;

    
}
h3{
    size: 1px;
    color: blue;
}


img{
    width: 600px;
    
}
a{
    font-size: 20px;

}
h1{
    color: green;
}
