/* signup.css */

/* General styles */
body {
    background-image: url('/../CSS/login and signup pages/background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* Form container */
form#signup-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 1;
}

/* Form heading */
form#signup-form h2 {
    margin-bottom: 20px;
    color: #444;
}

/* Form labels */
form#signup-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

/* Form inputs */
form#signup-form input[type="text"],
form#signup-form input[type="email"],
form#signup-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit button */
form#signup-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form#signup-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Bottom text */
.bottom-text {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-text a {
    color: #0066cc;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}
.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.header img {
    height: 100px; /* Increased height */
    margin-right: 10px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #0000FF; /* Blue color */
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}